# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_ADMIN=

# Emails
RESEND_API_KEY=
RESEND_DOMAIN=


# App Config
NEXT_PUBLIC_APP_NAME=Frontend
NEXT_PUBLIC_APP_ICON='/logos/logo.png'


# LLM Providers
GOOGLE_GENERATIVE_AI_API_KEY=
OPENAI_API_KEY=


# Web Search
TAVILY_API_KEY=

